<!DOCTYPE html>
<html>
<head>
  <title>HealthChecker</title>
  <%= stylesheet_link_tag    "health_checker/application", media: "all" %>
  <%= javascript_include_tag "health_checker/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
